In [3]:
import pandas as pd
import sqlite3

# Step 1: Load your CSV into a DataFrame
csv_file = '/Users/joeportnoy/Desktop/repos/Money-Talks-A-Demographic-Story/outputs/bls_data.csv'
df = pd.read_csv(csv_file)

# Step 2: Clean up column names (SQLite doesn't like spaces)
df.columns = [col.strip().replace(' ', '_') for col in df.columns]

# Step 3: Connect to SQLite database (creates one if it doesn't exist)
conn = sqlite3.connect('outputs/bls_wage_data.db')
cursor = conn.cursor()

# Step 4: Write DataFrame to SQL table
df.to_sql('earnings', conn, if_exists='replace', index=False)

# Optional: View some records to verify
sample = pd.read_sql_query("SELECT * FROM earnings LIMIT 5", conn)
print(sample)

# Step 5: Close the connection when you're done
conn.close()

   year month     Sex            Marital_Status        Race Native_Country  \
0  2014   jan    Male                  Divorced  White only  United States
1  2014   jan  Female                   Widowed  White only  United States
2  2014   jan  Female             Never married  White only  United States
3  2014   jan  Female             Never married  Asian only       Thailand
4  2014   jan    Male  Married - spouse present  White only    El Salvador

           Industry                                      Occupation  \
0  State government  Transportation and material moving occupations
1  State government   Office and administrative support occupations
2  State government        Community and social service occupations
3  State government        Community and social service occupations
4  State government  Transportation and material moving occupations

  Education_Enrollment FT/PT_Enrollment Education_Level_Attained  \
0                 None             None        Bachelor's degree
1                 None             None     High school graduate
2             Enrolled        Full time          Master's degree
3             Enrolled        Full time          Master's degree
4         Not enrolled             None     High school graduate

           Household_Member_Status  Weekly_Earnings  \
0  Adult civilian household member           1620.0
1  Adult civilian household member            162.0
2  Adult civilian household member            384.0
3  Adult civilian household member            320.0
4  Adult civilian household member            650.0

  Weekly_Earnings_Categories    PWSSWGT
0                  1500-1999  3561.0809
1                       <250  3322.0487
2                    250-499  2671.0752
3                    250-499  3012.7100
4                    500-749  3598.1304